<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Inmobiliara - Editar Asesor</title>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="../css/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/plugins/bootstrap-switch.css" rel="stylesheet">
    <style type="text/css">
        #page-wrapper{
            padding-top: 25px;
        }
        #back-to-top{
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    <!-- Loading -->
    <div class="se-pre-con"></div>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" target="_blank"><!-- <img src="../logoup.png" id="logo" alt=""> -->
                        <img src="http://placehold.it/333x72?text=Logo" id="logo" alt=""></a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Activar Navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu pull-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%=user.nombre%> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/editarasesor"><i class="fa fa-fw fa-user"></i> Editar Perfil</a>
                                    </li>
                                    <li>
                                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Editar Tu Perfil<small>Lo que no quieras cambiar déjalo como está</small>
                            </h1>
                        </div>
                    </div>
                    <a id="back-to-top" href="/panel" class="btn btn-default btn-lg back-to-top pull-left" role="button" title="Click para regresar"><span class="glyphicon glyphicon-chevron-left"></span> Regresar Al Panel</a>
                    <form action="/editarasesor" enctype='multipart/form-data' method="post">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label>Nombre Completo</label>
                                <input type="text" class="form-control" value="<%=asesor.nombre%>" name="nombre" required>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Teléfono</label>
                                <input type="text" class="form-control" value="<%=asesor.telefono%>" name="telefono" required>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Nombre de Usuario</label>
                                <input type="text" class="form-control" value="<%=asesor.username%>" name="username" required>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="foto"><i class="fa fa-photo fa-fw"></i> Foto</label>
                                <img class="img-responsive" src="<%=asesor.foto%>" alt="">
                                <div>
                                    <p>Reemplazar Foto</p>
                                    <input class='form-control' accept="image/png, image/jpeg, image/gif" type='file' name='image'/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-block">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <div id="mensajemodal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-fw fa-plus"></i><%if (typeof(titulomensaje) != 'undefined') {%>
                    <%=titulomensaje%>
                    <%}%></h4>
                </div>
                <div class="modal-body">
                    <%if (typeof(mensaje) != 'undefined') {%>
                    <%=mensaje%>
                    <%}%>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-block" data-dismiss="modal">ACEPTAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAKDKyJNGPt-XY6RtMdQofhnoAlhVN9ZM8&callback=initialize"
    async defer></script>
    <script src="../js/bootstrap-switch.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type="text/javascript">
    // Animación de entrada
    $(window).on('load',function(){
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
    });
</script>
<script>
    $(document).ready(function() {

        $("[name='ventaorenta']").bootstrapSwitch({onColor: 'success', offColor: 'success'});
        <%if (typeof(mensaje) != 'undefined') {%>
            $("#mensajemodal").modal('show');
            <%}%>
        });
    </script>
</body>
</html>