<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obari Bienes Raíces">
    <meta name="author" content="Mauricio Alejandro Martínez Pacheco">

    <title>Obari Bienes Raíces</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="container-fluid">
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="../logoup.png" id="logo" alt="">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="irapropiedades" href="#propiedades" class="animado">Propiedades</a>
                    </li>
                    <li>
                        <a href="#asesores" class="animado">Asesores</a>
                    </li>
                    <li>
                        <a href="#contacto" class="animado">Contacto</a>
                    </li>
                    <li>
                         <a href="/panel">Panel</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Full Page Image Background Carousel Header -->
    <!-- Page Content -->
    <div class="container page">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Búsqueda De Propiedades</p>
                <form action="/" method="POST">
                    <div class="form-group">
                        <select name="tipo" class="form-control">
                          <option value="0">Venta</option>
                          <option value="1">Renta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="propiedad">Tipo de Propiedad</label>
                        <select name="propiedad" class="form-control" id="propiedad">
                          <option value="casa">Casa</option>
                          <option value="condominio">Condominio</option>
                          <option value="terreno">Terreno</option>
                          <option value="comercial">Comercial</option>
                          <option value="vendido">Vendido</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recamaras">Recámaras</label>
                        <select name="recamaras" class="form-control" id="recamaras">
                          <option value="indistinto">Indistinto</option>
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="baños">Baños</label>
                        <select name="baños" class="form-control" id="baños">
                          <option value="indistinto">Indistinto</option>
                          <option value="0">0</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-block"><i class="fa fa-fw fa-filter"></i> Aplicar Filtro</button>
                        <% if (typeof(eliminar) != 'undefined') {%>
                            <a href="/" class="btn btn-danger btn-block oculto"><i class="fa fa-fw fa-filter"></i> Eliminar Filtro</a>
                        <%}%>
                    </div>
                </form>
            </div>

            <div class="col-md-9">

                <div class="row" id="jpages">
                    <!--Por cada propiedad en la base de datos mostrar una tarjeta-->
                    <% if (typeof(propiedades) != 'undefined') {%>
                        <% if(propiedades.length > 0){%>
                            <% propiedades.forEach(function(propiedad) { %>
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <div class="thumbnail">
                                        <img src="<%=propiedad.url%>" width="320px" height="213px">
                                        <div class="caption">
                                            <p class="h4"><a href="propiedad/?id=<%=propiedad.idpropiedades%>"><%=propiedad.nombrepropiedad%></a></p>
                                            <h4>$<%=propiedad.precio.toLocaleString()%></h4>
                                            <p>
                                                <ul class="list-inline">
                                                    <li>
                                                        <object type="image/svg+xml" data="svg/home-page.svg" class="icono"></object>
                                                        <%=propiedad.m2%>m2
                                                    </li>
                                                    <li>
                                                        <object type="image/svg+xml" data="svg/bed.svg" class="icono"></object>
                                                        <%=propiedad.recamaras%>
                                                    </li>
                                                    <li>
                                                        <object type="image/svg+xml" data="svg/shower.svg" class="icono"></object>
                                                        <%=propiedad.baños%>
                                                    </li>
                                                </ul>
                                            </p>
                                            
                                            <p class="capitalize"><%=propiedad.tipo%> en 
                                            <% if (propiedad.renta == 1) {%>
                                                Renta
                                            <%}else{%>
                                                Venta
                                            <%}%></p>
                                        </div>
                                        <div class="ratings">
                                            <% if (propiedad.vendida == 1) {%>
                                                <p>
                                                    VENDIDA
                                                </p>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <%}else{%>
                            <div class="col-xs-12"><h1>NO HAY PROPIEDADES AÚN</h1></div>
                        <%}%>
                    <%}else{%>
                        <div class="col-xs-12"><h1>NO HAY PROPIEDADES AÚN</h1></div>
                    <%}%>
                </div>
            </div>
            <!-- Pagination -->
                    <div class="col-xs-12 text-center" id="asesores">
                       <div id="holder" class="holder"></div>
                    </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center"><h2>Nuestros Asesores</h2></div>  
            <!-- Despues de pagination -->    
            <% if (typeof(asesores) != 'undefined') {%>
                <% asesores.forEach(function(asesor) { %>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-circle img-responsive img-center" src="<%=asesor.foto%>" alt="">
                        <h3><%=asesor.nombre%></h3>
                        <p><%=asesor.telefono%></p>
                    </div>
            <% }); %>
            <%}else{%>
                <h3 class="text-center"><i class="fa fa-fw fa-close"></i> NO HAY ASESORES AÚN</h3>
            <%}%>
        </div>
        <!-- Ir arriba -->
        <a id="back-to-top" href="#" class="btn btn-default btn-lg back-to-top" role="button" title="Click para regresar arriba" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    </div>
    <!-- /.container -->

    <div class="container" id="contacto">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contacto</h2>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <div id="map_container"></div>
                    <div id="map"></div>
                </div>  
                <div class="col-xs-12 col-sm-6 text-center">
                    <p>Obari Bienes Raíces</p>
                    <p>Dirección: </p>
                    <p>Teléfono: </p>
                </div>  
            </div>
        </footer>

    </div>

    <!-- /.container -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../js/jPages.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKDKyJNGPt-XY6RtMdQofhnoAlhVN9ZM8&callback=initialize"
      async defer>
    </script>



    <script type="text/javascript">
        /*Scroll top*/
        $(document).ready(function(){
             $(window).scroll(function () {
                    if ($(this).scrollTop() > 50) {
                        $('#back-to-top').fadeIn();
                    } else {
                        $('#back-to-top').fadeOut();
                    }
                });
                // scroll body to 0px on click
                $('.back-to-top').click(function () {
                    $('#back-to-top').tooltip('hide');
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
                
                $('#irapropiedades').click(function () {
                    $('#back-to-top').tooltip('hide');
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });

                $('#back-to-top').tooltip('show');

                $("#holder").jPages({
                    containerID : "jpages",
                    previous : "←",
                    next : "→",
                    perPage : 6,
                    delay : 0
                });

                $("a").click(function(){
                    setTimeout(function(){
                        $('.list-group-item').removeAttr("style");
                    }, 50);
                });


        });
        /*Animación al dar click a menú*/
        $(document).on('click', '.animado', function(event){
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
            }, 500);
        });

        /*Mapa google*/
        function initialize() {
                /*Dirección de la propiedad del backend*/

                    var latitud = '24.0018685';
                    var longitud = '-104.6530713';
                    var myLatlng = new google.maps.LatLng(latitud,longitud);
                        var icono = 'http://m.schuepfen.ch/icons/helveticons/black/60/Pin-location.png'
                        var mapOptions = {
                            zoom: 16,
                            center: myLatlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        }

                    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                    //Callout Content
                    var contentString = 'Obari';
                    //Set window width + content
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString,
                        maxWidth: 500
                    });

                    //Add Marker
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        icon: icono,
                        title: 'image title'
                    });

                    infowindow.open(map,marker);

                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map,marker);
                    });

                    //Resize Function
                    google.maps.event.addDomListener(window, "resize", function() {
                        var center = map.getCenter();
                        google.maps.event.trigger(map, "resize");
                        map.setCenter(center);

                    });
                    google.maps.event.addDomListener(window, 'load', initialize);

                
        }

        
    </script>
</body>

</html>